<article class="product">
  <header class="product-header">
    <p class="product-category">{%CATEGORY%}</p>
    <h2 class="product-title">{%ICON%} {%PRODUCTNAME%}</h2>

    <p class="product-price">{%PRICE%} $</p>
  </header>
  <section class="product-body">
    <div class="product-body-top">
      <h3 class="product-features">Features</h3>
      <ul class="product-list">
        <li class="product-item">&mdash; {%PRODUCTFEATURE1%}</li>
        <li class="product-item">&mdash; {%PRODUCTFEATURE2%}</li>
        <li class="product-item">&mdash; {%PRODUCTFEATURE3%}</li>
        <li class="product-item">&mdash; {%PRODUCTFEATURE4%}</li>
      </ul>
    </div>
    <a class="product-link" href="/product?id={%ID%}">Take A Look</a>
  </section>
</article>
